. {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  position: relative;
  display: flex;
}

h1 {
  position: fixed;
}

.box1,
.box2 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
}

.box1 {
}

ul {
  list-style: none;
}

#home-icon,
#bookmark-icon,
#profile-icon {
  width: 50px;
}
