. {
  box-sizing: border-box;
  max-width: 800px;
}

body {
  background-color: lightgreen;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  position: fixed;
  z-index: 10;
}

.box1,
.box2 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
  position: relative;
}

/*Bookmark icons an der Box mit der Frage platzieren*/

#bookmark1,
#bookmark2 {
  position: absolute;
  top: -10px;
  right: 10px;
}

/*Buttons in der Box stylen*/
button:hover {
  box-shadow: grey;
}

.question-button {
  width: 100px;
  position: absolute;
  right: 100px;
}

.hashtags {
}

/* styles for the footer*/

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

#home-icon,
#bookmark-icon,
#profile-icon {
  width: 50px;
}
/*  Wir befinden uuns auf der Homepage, daher ist der Homebutton unten grau hinterlegt/ausgewählt. */

#home-icon {
  background-color: grey;
}
