. {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  position: fixed;
}

.box1,
.box2 {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
  position: relative;
}

#bookmark1,
#bookmark2 {
  position: absolute;
  top: -10px;
  right: 10px;
}

/* styles for the footer*/

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

#home-icon,
#bookmark-icon,
#profile-icon {
  width: 50px;
}
