.box1,
.box2 {
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  padding: 20px;
  border: 2px solid black;
  /* in die mitte  */

  background-color: var(--third-color);
  margin-bottom: var(--gap-boxes);
}

.box1 {
  position: absolute;
  top: 100px;
  /* top: cal(var(--header-height) + var(--gap-boxes)); */
  margin-bottom: var(--gap-boxes);
}

.box2 {
  position: absolute;
  top: 400px;
  /* top: cal(var(--header-height) + 2 * var(--gap-boxes) + var(--box-height)); */
}

.box1-bookmark,
.box2-bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
}

.question {
  position: absolute;
  bottom: 50%;
  left: 20px;
  right: 20px;
  font-size: x-large;
}

.hashtags {
  position: absolute;
  bottom: 0;
}
