header {
  position: fixed;
  font-size: 14px;
  background-color: var(--secondary-color);
  heigth: var(--header-height);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.header-text {
}
