/* styles for the footer*/

footer {
  height: var(--header-height);
  position: fixed;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-home-icon,
.nav-bookmark-icon,
.nav-profile-icon {
  width: 10x;
}

.home-icon-selected {
}

.bookmark-icon-selected {
}

.profile-icon-selected {
}
